.image-tile{
    margin-top: 20px;
    margin-right: 20px;
}
.images{
    width: 100%;
}
.nav-wrapper{
    width: 98%;
}
.lc-nav {
    padding-left: 10px;
}
.score {
    margin-left: 5px;
    margin-right: 12px;
}